
html,
body {
 height: 100%;
 margin: 0;
 font-size: 16px;
 font-family:"Lato", sans-serif;
 font-weight: 400;
 line-height: 1.8em;
 color: #666;
}

.pimg1 {
  background-image: url(images/image1.png);
  min-height: 100vh;

  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 

}
.pimg2{
    background-image: url(images/image2.png);
    min-height: 400px;
}
.pimg3{
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 @media (max-width: 768px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
    background-size: cover;
  }
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textBg{
  background: black;
  color: white;
  padding: 20px;

}
.section {
  padding: 50px 80px;
  text-align: center;
}
.section-light {
  background-color: grey;
  color: red;
}
.section-dark{
  background-color: red;
  color: white
}


























